.formControl {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  gap: .6em;
}

.formControl label{
  font-weight: Bold;
}

.formControl select {
  padding: .7em;
  border-radius: 0;
  border: none;
}

.formControl select::placeholder {
  color: #7b7b7b;
}